$fieldset-shadow: $box-shadow !default;
$fieldset-border-radius: $radius-large !default;
$fieldset-border: 1px solid $border !default;
$fieldset-padding: 1.25em !default;

$fieldset-legend-color: $grey-darker !default;
$fieldset-legend-weight: $weight-bold !default;

.fieldset {
    border-radius: $fieldset-border-radius;
    box-shadow: $fieldset-shadow;
    padding: $fieldset-padding;
    border: $fieldset-border;

    &:not(:last-child) {
        margin-bottom: 0.75rem;
    }
}

.fieldset > legend {
    color: $fieldset-legend-color;
    font-weight: $fieldset-legend-weight;
    padding: 0 0.5em;
}
