@import "./../node_modules/bulma/sass/utilities/initial-variables";

$primary: #176663;
$success: #66bd77;
$warning: #ffa17a;
$info: #6672b4;
$danger: #b3507a;

$navbar-item-color: $white;
$navbar-background-color: $primary;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($primary, 8%);

$menu-item-active-background-color: transparent;
$menu-item-active-color: $primary;
$menu-item-hover-color: $primary;
$menu-item-hover-background-color: transparent;

$toc-item-active-font-weight: $weight-semibold;

$link: $primary;

$body-size: 14px;

@import './../node_modules/bulma/bulma.sass';
@import './../node_modules/nacara/scss/nacara.scss';


